<!-- history.html -->
<div class="wide100p padding5 dataBankAttachments">
    <div class="history-title-bar">
        <h2 class="history-title"> Data Table History </h2>
        <div>
            Currently, only supports viewing the history of tables returned by the system in the conversation or tables modified to appear as if by the system.
        </div>
    </div>
    <div id="tableHistory" class="history-scroll-content">
        <!-- Table history content will be displayed here -->
    </div>
</div>
