<!-- manager.html -->
<div class="wide100p padding5 dataBankAttachments" id="table_manager_container">
    <!--    <h2 class="marginBot5">-->
    <!--        <span>-->
    <!--            Data Sheet-->
    <!--        </span>-->
    <!--    </h2>-->
    <small data-i18n="managerDescription">
        This is a table for storing data. You can proceed with the conversation as usual, and the table will be updated automatically by default without any action required. The "Summarize/Organize" and "Fill Now" options below are only for assistance.
    </small>
    <div id="tableEditTips"></div>
    <hr />
    <div style=" display: flex; justify-content: space-between; flex-wrap: wrap; ">
        <div style=" display: flex; justify-content: flex-start; flex-wrap: wrap; width: fit-content; gap: 4px;">
            <!--            <div style="display: flex; justify-content: center;">-->
            <!--                <select id="table_refresh_type_selector" class="text_pole" style="height: 30px; width: 200px;">-->
            <!--                    <option value="">~~~Something went wrong if you see this option~~~~</option>-->
            <!--                </select>-->
            <!--            </div>-->
            <!--            <div style="display: flex; justify-content: center;" id="table_edit_mode_button">-->
            <!--                <i class="menu_button menu_button_icon fa-solid fa-pen" style="height: 30px; width: 30px" title="Batch edit"></i>-->
            <!--            </div>-->
            <div style="display: flex; justify-content: center" id="table_data_statistics_button" title="View table data statistics"
                data-i18n="[title]View table data statistics">
                <i class="menu_button menu_button_icon fa-solid fa-ranking-star" style="height: 30px; width: 30px"></i>
            </div>
            <div style="display: flex; justify-content: center" id="dataTable_history_button" title="View table edit history"
                data-i18n="[title]View table edit history">
                <i class="menu_button menu_button_icon fa-solid fa-history" style="height: 30px; width: 30px"></i>
            </div>
            <div style="display: flex; justify-content: center" id="table_undo" title="Restore table"
                data-i18n="[title]Completely rebuild table">
                <i class="menu_button menu_button_icon fa-solid fa-undo" style="height: 30px; width: 30px"></i>
            </div>
            <div style="display: flex; justify-content: center" id="table_rebuild_button" title="Table summary"
                data-i18n="[title]Completely rebuild table">
                <i class="menu_button menu_button_icon fa-solid fa-repeat">Summarize/Organize</i>
            </div>

            <!--            <div style="display: flex; justify-content: center;" id="paste_table_button">-->
            <!--                <i class="menu_button menu_button_icon fa-solid fa-paste" style="height: 30px; width: 30px" title="Paste table"></i>-->
            <!--            </div>-->
            <!-- <div style="display: flex; justify-content: center;" id="table_clear_up_button">
                <i class="menu_button menu_button_icon fa-solid fa-broom" style="height: 30px; width: 30px" title="Organize table (settings can be changed from the plugin interface)"></i>
            </div> -->
        </div>
        <div style=" display: flex; justify-content: flex-end; flex-wrap: wrap; width: fit-content; gap: 4px;">
            <div style="display: flex; justify-content: center" id="copy_table_button">
                <i class="menu_button menu_button_icon fa-solid fa-copy" style="height: 30px; width: 30px" title="Copy table"
                    data-i18n="[title]Copy table"></i>
            </div>
            <div style="display: flex; justify-content: center" id="import_table_button">
                <i class="menu_button menu_button_icon fa-solid fa-file-import" style="height: 30px; width: 30px"
                    title="Import table" data-i18n="[title]Import table"></i>
            </div>
            <div style="display: flex; justify-content: center" id="export_table_button">
                <i class="menu_button menu_button_icon fa-solid fa-file-export" style="height: 30px; width: 30px"
                    title="Export table" data-i18n="[title]Export table"></i>
            </div>
            <div style="display: flex; justify-content: center" id="clear_table_button">
                <i class="menu_button menu_button_icon fa-solid fa-trash-can redWarningBG"
                    style="height: 30px; width: 30px" title="Clear table" data-i18n="[title]Clear table"></i>
            </div>
        </div>
    </div>
    <hr />
    <div style="display: flex; justify-content: space-between; ">
        <div style="display: flex; justify-content: center" id="table_prev_button" title="Previous Table">
            <i class="menu_button menu_button_icon fa-solid">&lt; Prev</i>
        </div>
        <div id="table_indicator">This is the latest table</div>
        <div style="display: flex; justify-content: center" id="table_next_button" title="Next Table">
            <i class="menu_button menu_button_icon fa-solid">Next &gt;</i>
        </div>
    </div>
    <hr />
    <div id="contentContainer">
        <div id="tableContainer">
        </div>
    </div>
</div>