<div class="wide100p padding5 dataBankAttachments">
    <h2 class="marginBot5">
        <span>
            Data Table Structure Settings
        </span>
    </h2>
    <div>
        This is the default data table structure. You can currently modify the prompts for each table, including the description, initialization prompt, update prompt, delete prompt, and insert prompt. Modifying the prompts can customize the AI's understanding of this table.
    </div>
    <hr/>
    <div id="tableStructureContainer"></div>
</div>
